* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
html{
    font-size: 16px;
}
.flex{
    display: block;
}
body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b6a83;
}
h1, h2, h3, h4{
    color: #4b6a83;
}
.container{
    max-width: 1163px;
    margin: 0 auto;
    padding: 0 2rem;
}